# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/node_modules/
*$py.class
settings.json
.cache/
myevn/
.sonar/**

# Distribution / packaging
build/
scn/
dist/
*.egg-info/
*.spec
/tests/personal
backups/
.clipboard
src
templates
downloads
projects

# VS Code settings (if you don't want to share them)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Local Tests
/tests/**
!/tests/test_scn_parser.py