PySide6
PySide6_Addons
PySide6_Essentials
shiboken6
PyInstaller
requests
firebase-admin
#NodeGraphQt
zstandard
texture2ddecoder
PyOpenGL
PyOpenGL_accelerate
numpy
capstone
pefile
meson==1.4.0
ninja==1.13.0
